<mat-toolbar color="primary">Grocery List</mat-toolbar>

<div class="container" *ngIf="!isLoggedIn()" style="margin: 5rem; text-align: center;">
  <button mat-raised-button color="accent" (click)="login()">login</button>
</div>

<div class="container accessdenied"
     *ngIf="isLoggedIn() && !hasPermission()">
  You have insufficient privileges to use this app
</div>

<div class="container" *ngIf="isLoggedIn() && hasPermission()">
  <br>
  <button mat-raised-button color="primary" (click)="addItems=true">+ Add</button>
  <br><br>
  <mat-card *ngIf="addItems" style="margin-bottom: 1rem">
    <mat-card-content>
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="groceryName" placeholder="Name">
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-5">
          <mat-form-field>
            <mat-label>Category</mat-label>
            <select matNativeControl [(ngModel)]="groceryCategory">
              <option>Backing/spices</option>
              <option>Beverages</option>
              <option>Breads/grains</option>
              <option>Canned goods</option>
              <option>Condiments</option>
              <option>Dairy</option>
              <option>Deli</option>
              <option>Frozen foods</option>
              <option>Household supplies</option>
              <option>Meat/seafood</option>
              <option>Other</option>
              <option>Paper/plastic</option>
              <option>Pet care</option>
              <option>Produce</option>
              <option>Snacks</option>
              <option>Toiletries</option>
            </select>
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-2">
          <button mat-raised-button color="primary" style="margin-right: 1rem"
                  (click)="CreateRecord()"
                  [disabled]="!groceryName || !groceryCategory">
            + Add
          </button>

          <button mat-raised-button color="accent" (click)="addItems=false">Done</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="isLoggedIn() && hasPermission()">

    <!-- Position Column -->
    <ng-container matColumnDef="checked">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <i class="fas fa-check-double" style="color: green"></i> </th>
      <td mat-cell *matCellDef="let item">
        <mat-checkbox [(ngModel)]="item.checked" (ngModelChange)="UpdateRecord(item)"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let item"> {{item.name}}
        <br><sub>{{ item.when}}</sub>
      </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let item">
        {{item.category}}
      </td>
    </ng-container>

    <ng-container matColumnDef="trash">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
        <i class="fas fa-trash-alt" style="color: darkred;" (click)="RemoveRecord(item)"></i>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="isLoggedIn()" class="container" style="text-align: right">
    <br>
    <button mat-raised-button color="warn" (click)="logout()">Log out</button>
  </div>

