<div class="row" style="margin-top: 25px;">
  <div class="col-md-3">
    <input type="text" class="form-control" [(ngModel)]="groceryName" placeholder="Name">
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" [(ngModel)]="groceryCategory" placeholder="Category">
  </div>
  <div class="col-md-3">
    <button type="button" (click)="CreateRecord()" [disabled]="!groceryName || !groceryCategory" class="btn btn-primary">+
      Add</button>
  </div>
</div>
<div class="row" style="margin-top: 25px;">
  <div class="col-md-3">
    <div class="card"  *ngFor="let item of groceryItems">
      <div class="card-body" >
        <input type="checkbox" [(ngModel)]="item.checked" (ngModelChange)="UpdateRecord(item)">
        <input type="text" [(ngModel)]="item.name" (ngModelChange)="UpdateRecord(item)">
        <input type="text" [(ngModel)]="item.category" (ngModelChange)="UpdateRecord(item)">
        <p class="card-text">Address: {{item.when}}</p>
        <a href="#" class="card-link" (click)="RemoveRecord(item.id)">Delete</a>
      </div>
    </div>
  </div>
</div>

